@media screen and (max-width: 1000px) {
    .wrap {
        margin-right: 75px;
        margin-left: 75px;
    }
    .logo img {
        width: 120px;
        height: 29px;
    }
    .option-navbar-section ul li a {
        font-size: 16px;
    }

    .hero-text h1 {
        font-size: 40px;
    }
    .hero-image img{
        width: 324px;
    }

    .service-section {
        margin-top: 40px;
    }
    .service-section h1 {
        font-size: 30px;
    }
    .service-option {
        width: 1/5%;
    }

    .svg-style {
        width: 50px;
        height: 50px;
    }

    .service-option h1 {
        font-size: 20px;
    }
    .service-option h5 {
        font-size: 12px;
    }
    .team-section {
        margin-top: 0;
    }
    .team-section h1 {
        font-size: 30px;
    }
    .personal {
        width: 270px;
        height: auto;
    }
    .social {
        margin-bottom: 12px;
    }
}

@media screen and (max-width: 640px) {

    header {
        margin-bottom: 30px;
    }

    nav {
        display: block;
        text-align: center;
    }
    .logo {
        margin-bottom: 12px;
    }

    .hero-section {
        display: block;
        margin-bottom: 120px;
    }
    .hero-text {
        width: 100%;
    }
    .hero-text h1 {
        font-size: 35px;
    }
    .hero-img {
        width: 100%;
    }

    .hero-image img{
        width: 224px;
    }
    .wrap-service {
        display: block;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .svg-style {
        width: 70px;
        height: 70px;
    }
    .service-section h1 {
        font-size: 25px;
    }
    .service-option {
        width: 100%;
    }
    .personal-section {
        display: block;
    }
    .personal {
        margin: 0 auto;
        width: 80%;
        height: auto;
        margin-bottom: 12px;
    }
    .personal h4 {
        margin-bottom: 0;
    }
}