* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}

/*? hero section style start */

.wrap {
    margin-right: 135px;
    margin-left: 135px;
}

.hero-section {
    height: auto;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 120px;
}

.hero-text {
    width: 50%;
}

.hero-text h1 {
    color: #0B1B35;
    font-size: 50px;
    font-style: normal;
    font-weight: 850;
    line-height: 81px;
    margin-bottom: 12px;
}

.hero-text p {
    color: #000;
    font-family: Ageo;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28.5px;
    margin-bottom: 42px;
    /* 129.545% */
}

.button-text {
    border-radius: 10px;
    background: #F60;
    padding: 12px 18px;
    border: none;
    cursor: pointer;
}

.hero-img {
    width: 50%;
}

.hero-img img {
    width: 500px;
}

/*? hero section style end */

/*? service section style start */
.service-section {
    margin-top: 24px;
    height: auto;
    padding-bottom: 32px;
}

.service-section p {
    color: #8A898E;
    text-align: center;
    margin-bottom: 24px;
    font-family: Ageo;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 28.5px;
    /* 203.571% */
    letter-spacing: 6.3px;
}

.service-section h1 {
    color: #0B1B35;
    text-align: center;
    font-family: Ageo;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 28.5px;
    margin-top: 30px;
    margin-bottom: 20px;
    /* 54.808% */
}

.wrap-service {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.service-option {
    margin-top: 24px;
    width: 330px;
    border-radius: 28px;
    background: #FFF;
    box-shadow: 0px 2.76726px 2.21381px 0px rgba(0, 0, 0, 0.02), 0px 6.6501px 5.32008px 0px rgba(0, 0, 0, 0.03), 0px 12.52155px 10.01724px 0px rgba(0, 0, 0, 0.04), 0px 22.33631px 17.86905px 0px rgba(0, 0, 0, 0.04), 0px 41.77761px 33.42209px 0px rgba(0, 0, 0, 0.05), 0px 100px 80px 0px rgba(0, 0, 0, 0.07);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 12px;
    margin-bottom: 120px;
}

.svg-style {
    width: 76.469px;
    height: 76.47px;
    margin-top: 24px;
    margin-bottom: 32px;
}

.service-option h1 {
    color: #000;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 28.5px;
    margin-bottom: 48px;
    /* 79.167% */
}

.service-option h5 {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.5px;
    /* 158.333% */
}

.button-service {
    margin-top: 60px;
    margin-bottom: 12px;
    border-radius: 10px;
    background: rgb(255, 111, 0);
    padding: 12px 18px;
    border: none;
}

/*? service section style end */


/*! our team section style start */

.team-section {
    margin-top: 32px;
    height: auto;
    margin-bottom: 120px;
}

.team-section p {
    color: #8A898E;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 28.5px;
    letter-spacing: 6.3px;
    padding-bottom: 32px;
}

.team-section h1 {
    color: #0B1B35;
    text-align: center;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 28.5px;
}

.personal-section {
    margin-top: 32px;
    display: flex;
    gap: 12px;
}

.personal {
    width: 370px;
    height: 370px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border: 1px solid #8A898E;
    box-shadow: 0px 2.76726px 2.21381px 0px rgba(0, 0, 0, 0.02), 0px 6.6501px 5.32008px 0px rgba(0, 0, 0, 0.03), 0px 12.52155px 10.01724px 0px rgba(0, 0, 0, 0.04), 0px 22.33631px 17.86905px 0px rgba(0, 0, 0, 0.04), 0px 41.77761px 33.42209px 0px rgba(0, 0, 0, 0.05), 0px 100px 80px 0px rgba(0, 0, 0, 0.07);
}

.personal img {
    width: 120px;
    height: 120px;
    margin-top: 32px;
}

.personal h2 {
    color: #1E0E62;
    margin: 12px 0;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    /* 145.455% */
}

.personal h4 {
    color: var(--colors-text, rgba(21, 20, 57, 0.40));
    text-align: center;
    /* Text / Label */
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    /* 185.714% */
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.social {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.social img {
    cursor: pointer;
    width: 38px;
    height: 38px;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    /* 172.727% */
}


/*! our team section style start */

