<h1>Menggambar fungsi linear</h1>

<form action="/get_plot" method="POST" id="myForm">
    Nilai a <input type="number" name="nilai_a" required>
    <br>
    Nilai b <input type="number" name="nilai_b" required>
    <br>
    <br>
    <input type="submit" value="OK">
    <input type="button" onclick="reset()" value="reset">
</form>

{% if plot_url %}
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <img style="background-color: tomato; text-align: center;" src={{plot_url}} alt="Chart error">
    <p>hello</p>
</div>
{% endif %}

<script>
    function reset() {
        document.getElementById('myForm').reset();
    }
</script>