<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fungsi Kubik</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='img/title.png') }}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/navbar.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/kubik.css') }}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- navbar start -->
    <header class="header">
      <nav class="nav container">
        <div class="nav__data">
          <a href="#" class="nav__logo">
            <i class="ri-graduation-cap-fill"></i> Mathexlab
          </a>

          <div class="nav__toggle" id="nav-toggle">
            <i class="ri-menu-line nav__burger"></i>
            <i class="ri-close-line nav__close"></i>
          </div>
        </div>

        <!--=============== NAV MENU ===============-->
        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li><a href="/" class="nav__link">Home</a></li>
            <!--=============== DROPDOWN 1 ===============-->

            <li class="dropdown__item">
              <div class="nav__link">
                <a href="#service" style="color: black">Service</a>
                <i class="ri-arrow-down-s-line dropdown__arrow"></i>
              </div>

              <ul class="dropdown__menu">
                <li>
                  <a href="/linear" class="dropdown__link">
                    <i class="ri-line-chart-fill"></i>linear
                  </a>
                </li>

                <li>
                  <a href="/kuadrat" class="dropdown__link">
                    <i class="ri-line-chart-fill"></i>Kuadrat
                  </a>
                </li>

                <li>
                  <a href="/kubik" class="dropdown__link">
                    <i class="ri-line-chart-fill"></i>Kubik
                  </a>
                </li>
              </ul>
            </li>

            <li class="dropdown__item">
              <div class="nav__link">
                <a href="#blog" style="color: black">Blog</a>
                <i class="ri-arrow-down-s-line dropdown__arrow"></i>
              </div>

              <ul class="dropdown__menu">
                <li>
                  <a href="/blog/linear" class="dropdown__link">
                    <i class="ri-line-chart-fill"></i>Fungsi linear
                  </a>
                </li>

                <li>
                  <a href="/blog/kuadrat" class="dropdown__link">
                    <i class="ri-line-chart-fill"></i>Fungsi Kuadrat
                  </a>
                </li>

                <li>
                  <a href="/kubik" class="dropdown__link">
                    <i class="ri-line-chart-fill"></i>Fungsi Kubik
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- navbar end -->
    <div class="title wrap-title">
      <h1>Menggambar fungsi kubik</h1>
    </div>
    <section
      style="
        min-width: 300px;
        height: auto;
        padding: 24px 32px;
        background-color: #fff;
        margin-bottom: 32px;
      "
      class="wrap"
    >
      <div>
        <h3>Cara Penggunaan:</h3>
        <ul>
          <li style="list-style: disc">
            <span>Masukan Angka Pada inputan yang tersedia</span>
          </li>
          <li style="list-style: disc">
            <span>Tidak diperbolehkan memasukan angka pecahan</span>
          </li>
          <li style="list-style: disc">
            <span>Tidak diperbolehkan memasukan angka desimal</span>
          </li>
          <li style="list-style: disc">
            <span>Masukan nilai sesuai dengan persamaan umum fungsi kubik</span>
          </li>
          <li style="list-style: disc">
            <span
              ><math
                xmlns="http://www.w3.org/1998/Math/MathML"
              >
                <mrow>
                  <mi>f</mi>
                  <mo>(</mo>
                  <mi>x</mi>
                  <mo>)</mo>
                  <mo>=</mo>
                  <msup>
                    <mi>ax</mi>
                    <mn>3</mn>
                  </msup>
                  <mo>+</mo>
                  <msup>
                    <mi>bx</mi>
                    <mn>2</mn>
                  </msup>
                  <mo>+</mo>
                  <mi>cx</mi>
                  <mo>+</mo>
                  <mn>d</mn>
                </mrow>
              </math></span
            >
          </li>
        </ul>
      </div>
    </section>
    <div class="form wrap">
      <form action="/kubik" method="POST" id="myForm">
        <div class="input-form">
          <label for="">Nilai a</label>
          <input type="number" name="nilai_a" required />
        </div>
        <div class="input-form">
          <label for="">Nilai b</label>
          <input type="number" name="nilai_b" required />
        </div>
        <div class="input-form">
          <label for="">Nilai c</label>
          <input type="number" name="nilai_c" required />
        </div>
        <div class="input-form">
          <label for="">Nilai d</label>
          <input type="number" name="nilai_d" required />
        </div>
        <br />
        <div class="action">
          <input class="submit" type="submit" value="Ok" />
          <input class="reset" type="button" onclick="reset()" value="Reset" />
        </div>
      </form>
    </div>

    {% if plot_url %}
    <div style="width: 80%; margin: 32px auto">
      <h3 style="text-align: center">Hasil inputan anda andalah :</h3>
      <math
        style="
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
        "
        xmlns="http://www.w3.org/1998/Math/MathML"
      >
        <mrow>
          <mi>f</mi>
          <mo>(</mo>
          <mi>x</mi>
          <mo>)</mo>
          <mo>=</mo>
          <msup>
            <mi>{{inputUser[0]}}x</mi>
            <mn>3</mn>
          </msup>
          <mo>+</mo>
          <msup>
            <mi>{{inputUser[1]}}x</mi>
            <mn>2</mn>
          </msup>
          <mo>+</mo>
          <mi>{{inputUser[2]}}x</mi>
          <mo>+</mo>
          <mn>{{inputUser[3]}}</mn>
        </mrow>
      </math>
    </div>
    <div
      style="
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      "
    >
      <img
        class="plot_img"
        style="background-color: tomato; text-align: center"
        src="{{plot_url}}"
        alt="Chart error"
      />
    </div>
    {% endif %} {%if data%}
    <table class="table" style="width: 360px">
      <th>Titik Potong sumbu X</th>
      <th>Titik Potong sumbu Y</th>
      <tr>
        <td>({{data[0]}}, 0), ({{data[1]}}, 0), ({{data[2]}}, 0)</td>
        <td>( 0, {{data[3]}} )</td>
      </tr>
    </table>
    {%endif%}

    <script src="../js/script.js"></script>
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
  </body>
</html>
