<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fungsi Kuadrat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <!-- navbar start -->
    <header>
        <nav>
            <div class="logo">
                <img src="{{ url_for('static', filename='img/Logo.png') }}" alt="">
            </div>
            <div class="option-navbar-section">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/linear">Linear</a></li>
                    <li><a href="/kuadrat">Kuadrat</a></li>
                    <li><a href="/kubik">Calculator Graph</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- navbar end -->
    <h1>Menggambar fungsi kubik</h1>

    <form action="/kubik" method="POST" id="myForm">
        Nilai a <input type="number" name="nilai_a" required>
        <br>
        Nilai b <input type="number" name="nilai_b" required>
        <br>
        Nilai c <input type="number" name="nilai_c" required>
        <br>
        Nilai d <input type="number" name="nilai_d" required>
        <br>
        <br>
        <input type="submit" value="OK">
        <input type="button" onclick="reset()" value="reset">
    </form>

    {% if plot_url %}
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <img style="background-color: tomato; text-align: center;" src={{plot_url}} alt="Chart error">
        <p>hello</p>
    </div>
    {% endif %}

    {%if data%}
    <table>
        <th>Titik Potong submu X</th>
        <th>Titik Potong submu Y</th>
        <th>Titik Maksimum</th>
        <tr>
            <td>( {{data[0]}}, {{data[1]}})</td>
            <td>( 0, {{data[2]}} )</td>
            <td>( {{data[3]}}, {{data[4]}} )</td>
        </tr>
    </table>
    {%endif%}

    <script src="../js/script.js"></script>
</body>

</html>