<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fungsi Linear</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='img/title.png') }}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>
    <!-- navbar start -->
    <header class="header">
      <nav class="nav container">
        <div class="nav__data">
          <a href="#" class="nav__logo">
            <i class="ri-graduation-cap-fill"></i> Mathexlab
          </a>

          <div class="nav__toggle" id="nav-toggle">
            <i class="ri-menu-line nav__burger"></i>
            <i class="ri-close-line nav__close"></i>
          </div>
        </div>

        <!--=============== NAV MENU ===============-->
        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li><a href="/" class="nav__link">Home</a></li>
            <!--=============== DROPDOWN 1 ===============-->

            <li class="dropdown__item">
              <div class="nav__link">
                <a href="#service" style="color: black">Service</a>
                <i class="ri-arrow-down-s-line dropdown__arrow"></i>
              </div>

              <ul class="dropdown__menu">
                <li>
                  <a href="/linear" class="dropdown__link">
                    <i class="ri-line-chart-fill"></i>linear
                  </a>
                </li>

                <li>
                  <a href="/kuadrat" class="dropdown__link">
                    <i class="ri-line-chart-fill"></i>Kuadrat
                  </a>
                </li>

                <li>
                  <a href="/kubik" class="dropdown__link">
                    <i class="ri-line-chart-fill"></i>Kubik
                  </a>
                </li>
              </ul>
            </li>

            <li class="dropdown__item">
              <div class="nav__link">
                <a href="#blog" style="color: black">Blog</a>
                <i class="ri-arrow-down-s-line dropdown__arrow"></i>
              </div>

              <ul class="dropdown__menu">
                <li>
                  <a href="/blog/linear" class="dropdown__link">
                    <i class="ri-line-chart-fill"></i>Fungsi linear
                  </a>
                </li>

                <li>
                  <a href="/blog/kuadrat" class="dropdown__link">
                    <i class="ri-line-chart-fill"></i>Fungsi Kuadrat
                  </a>
                </li>

                <li>
                  <a href="/blog/kubik" class="dropdown__link">
                    <i class="ri-line-chart-fill"></i>Fungsi Kubik
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- navbar end -->
    <h1>Menggambar fungsi linear</h1>
    <form action="/linear" method="POST" id="myForm" class="form-linear">
        Nilai a <input type="number" name="nilai_a" required>
        <br>
        Nilai b <input type="number" name="nilai_b" required>
        <br>
        <br>
        <input type="submit" value="OK">
        <input type="button" onclick="reset()" value="reset">
    </form>


    {% if plot_url %}
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <img style="background-color: tomato; text-align: center;" src={{plot_url}} alt="Chart error">
        <p>hello</p>
    </div>
    {% endif %}

    {% if data %}
        <table>
            <th>Titik Potong submu X</th>
            <th>Titik Potong submu Y</th>
            <tr>
                <td>( {{data[0]}}, 0 )</td>
                <td>( 0, {{data[1]}} )</td>
            </tr>
        </table>
    {%endif%}

    <script src="../js/script.js"></script>
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
</body>

</html>