<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fungsi Linear</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <!-- navbar start -->
    <header>
        <nav>
            <div class="logo">
                <img src="{{ url_for('static', filename='img/Logo.png') }}" alt="">
            </div>
            <div class="option-navbar-section">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/linear">Linear</a></li>
                    <li><a href="/kuadrat">Kuadrat</a></li>
                    <li><a href="/kubik">Calculator Graph</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- navbar end -->
    <h1>Menggambar fungsi linear</h1>
    <form action="/linear" method="POST" id="myForm" class="form-linear">
        Nilai a <input type="number" name="nilai_a" required>
        <br>
        Nilai b <input type="number" name="nilai_b" required>
        <br>
        <br>
        <input type="submit" value="OK">
        <input type="button" onclick="reset()" value="reset">
    </form>


    {% if plot_url %}
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <img style="background-color: tomato; text-align: center;" src={{plot_url}} alt="Chart error">
        <p>hello</p>
    </div>
    {% endif %}

    {% if data %}
        <table>
            <th>Titik Potong submu X</th>
            <th>Titik Potong submu Y</th>
            <tr>
                <td>( {{data[0]}}, 0 )</td>
                <td>( 0, {{data[1]}} )</td>
            </tr>
        </table>
    {%endif%}

    <script src="../js/script.js"></script>
</body>

</html>